@model IEnumerable<wardrobe.Models.Outfit>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.WardrobeItem.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WardrobeItem1.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WardrobeItem2.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.WardrobeItem.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WardrobeItem1.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WardrobeItem2.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.OutfitID }) |
            @Html.ActionLink("Details", "Details", new { id=item.OutfitID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.OutfitID })
        </td>
    </tr>
}

</table>
